<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'icons/fontawesome/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'icons/fontawesome/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'icons/fontawesome/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Register User</title>
</head>
<body>

<div class="text-center">
    <h1 class="main-text">Register user</h1>
</div>

<div class="container">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group col-md-8 mx-5 ">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><label for="username"><i class="fa-solid fa-user fa-lg"></i></label></span>
                    </div>
                    {{ form.username }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><label for="email"><i class="fa-regular fa-envelope fa-lg"></i></label></span>
                    </div>
                    {{ form.email }}  
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><label for="password"><i class="fa-solid fa-lock fa-lg"></i></label></span>
                    </div>
                    {{ form.password1 }}   
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><label for="password"><i class="fa-solid fa-lock fa-lg"></i></label></span>
                    </div>
                    {{ form.password2 }}   
                </div>
                <button type="submit" class="btn btn-primary btn-block mx-5 btn-sm ">Register</button>
                <br>
                <br>
                <a href="{% url 'login' %}">Already have an account?</a>
            </div>
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if form.errors %}
            <div class="alert alert-danger">
                {{form.errors}}
            </div>
            {% endif %}
        </div>
    </form>
</div>
<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>
